* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#root {
  height: 100%;
  min-height: 100%;
}
.outer-wrapper {
  height: 100%;
  min-height: 100%;
}
.App {
  height: 100%;
  min-height: 100%;
}
nav {
  font-size: 0.95em;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 6px 0 #333;
  z-index: 99;
}
.main-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22313F;
}
.main-nav a {
  color: inherit;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}
.nav-button:hover {
  color: #fff;
}
.logo-center {
  font-size: 1.5em;
  font-weight: normal;
  padding: 6px;
  background-color: #22313F !important;
  color: #f5f5f5;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*Login form*/
.login-form--wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.login-form--inner {
  width: 30%;
  min-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 12px;
}
.login-form--inner h1 {
  font-weight: 100;
  background-color: #0B486B;
  color: #f5f5f5;
  padding: 6px;
  margin: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.login-instructions {
  padding-left: 6px;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.login-form--inputwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.login-form input[type=text], .login-form input[type=password] {
  border: 0;
  border-bottom: 1px solid #999;
  padding: 6px 12px 6px 0;
  width: 100%;
  margin-bottom: 12px;
  font-size: 1.25em;
}
.login-form input[type=text]:focus, .login-form input[type=password]:focus {
  outline: 0;
}
.login-form input[type=submit] {
  border: 1px solid #0B486B;
  background-color: inherit;
  font-size: 1.5em;
  font-weight: 100;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.login-form input[type=submit]:hover {
  background-color: #ccc;
  transform: scale(1.1);
}

.events-main--wrapper {
  height: 100%;
  min-height: 100%;
}
.events-main--sidebar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  padding: 16px 3px 3px 3px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 75px;
  padding-right: 12px;
  width: 230px;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.2);
}
.events-main--full {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 0 16px;
  padding-left: 250px;
  padding-top: 50px;
  flex-grow: 2;
  min-height: 100%;
}
.event-card {
  display: flex;
  justify-content: space-between;
  margin: 0 3px 3px 3px;
  padding: 3px;
}
.event-card-title {
}
.date {
  font-size: 0.85em;
}
.event-card-actions {
  display: flex;
  justify-content: flex-start;
}
.event-card-actions i {
  margin-right: 6px;
  font-size: 10pt;
  font-weight: 100;
}

/*event details view*/
.event-details--headline {
  background-color: #fff;
  margin-bottom: 16px;
  font-size: 1.25em;
  min-width: 100%;
  padding: 0 3px 0 3px;
}
.event-details--headline h1 {
  font-weight: normal;
  margin: 0 0 3px 0;
}
.event-details--flex {
  display: flex;
  justify-content: space-between;
}
.event-details--more {
  align-self: center;
  font-size: 0.65em;
  font-style: italic;
}
.event-details--body {
  display: flex;
  justify-content: space-between;
}
.event-details--posts {
  max-width: 75%;
  min-width: 75%;
  margin-right: 12px;
}
.event-details--posts h2 {
  font-weight: normal;
  margin: 0 0 3px 0;
}
.event-details--post {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px;
  margin-bottom: 16px;
  box-shadow: 2px 2px 6px #333;
  min-width: 100%;
  background-color: #fff;
  
}
.event-details--post img {
  float: left;
}
.post-wrapper {
  margin-right: 6px;
  text-align: center;
  border-right: 1px solid #333;
  padding: 3px 6px 3px 1px;
}
.post-icon {
  margin: 6px auto 0 auto;
}
.post-author {
  font-size: 0.65em;
}

/*add new post form*/
.form-newpost {
  width: 100%;
}
.form-newpost--main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-newpost--inputs {
  width: 100%;
}
.newpost-input--text {
  display: block;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  padding: 3px 3px 0 3px;
  width: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*main event list grid*/
.events-grid--wrapper {
  width: 100%;
}
.events-grid--row {
  display: flex;
  flex-direction: row;
}

.form-vertical {
  display: block;
}
.new-event-image-placeholder {
}
.date-input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
}
.title-input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
}

/*::-webkit-input-placeholder {
    color:    #f5f5f5;
}
::-moz-placeholder {
   color:    #f5f5f5;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #f5f5f5;
}*/

/*custom confirm modal*/
.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
.modal-main-wrapper {
  width: 50%;
  height: 50%;
  background-color: #ccc;
  box-shadow: 0 0 3px 3px #333;
  padding: 12px;
}
.modal-bg--show {
  opacity: 1;
}

h2 {
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
}
h3 {
  font-weight: normal;
  border-bottom: 1px solid #333;
}

/*react transitions*/
.post-enter {
  -webkit-transition: transform 0.5s, opacity 1.0s;
  transition: transform 0.5s, opacity 1.0s;
  opacity: 0;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}
.post-enter.post-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*.post-leave {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.post-leave.post-leave-active {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}*/

/*utility classes*/
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
}
.icon-button {
  color: #ccc;
  cursor: pointer;
}
.icon-button:hover {
  color: #333;
}
.link-nostyle {
  color: inherit;
  display: block;
  text-decoration: none;
  border: 1px solid transparent;
  margin-bottom: 12px;
  transition: border 0.2s;
}
.link-nostyle:hover {
  border: 1px solid #22313F;
}
.link-active {
  color: #fff;
  background-color: #22313F;
}