* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#root {
  height: 100%;
  min-height: 100%;
}
.outer-wrapper {
  height: 100%;
  min-height: 100%;
}
.App {
  height: 100%;
  min-height: 100%;
}
nav {
  font-size: 0.95em;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 6px 0 #333;
  z-index: 99;
}
.main-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22313F;
}
.main-nav a {
  color: inherit;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}
.nav-button:hover {
  color: #fff;
}
.logo-center {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: normal;
  padding: 6px;
  background-color: #22313F !important;
  color: #f5f5f5;
}
.logo-center img {
  height: 35px;
  width: auto;
  margin: 0 6px 0 6px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*Login form*/
.login-form--wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #333;
  background: radial-gradient(circle, #ffffff, #cccccc, #a9a9a9, #999999, #666666);
}
.login-form--inner {
  width: 30%;
  min-width: 400px;
  background-color: rgba(255,255,255,0.4);
  color: #f5f5f5;
  border-radius: 5px;
  padding-bottom: 12px;
}
.login-form--inner h1 {
  font-weight: 100;
  display: flex;
  align-items: center;
  color: #0B486B;
  padding: 0;
  margin: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.login-form--inner h1 img {
  height: 110px;
  width: auto;
}
.subhead {
  font-size: 12pt;
  font-style: italic;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input[type=text], .login-form input[type=password] {
  border: 0;
  border-left: 2px solid transparent;
  background-color: inherit;
  padding: 6px 12px 6px 12px;
  width: 90%;
  margin: 4px auto 8px auto;
  font-size: 1.25em;
  transition: border 0.6s ease;
}
.login-form input[type=text]:focus, .login-form input[type=password]:focus {
  outline: 0;
  border-left: 2px solid #E8860C;
}
.login-bottom--wrapper {
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 4px;
}
.login-form button {
  border: 0;
  background-color: rgba(11,72,107,1);
  color: #f5f5f5;
  padding: 6px 0 6px 0;
  font-size: 1.15em;
  width: 90%;
  margin: 6px auto;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-form button i {
  margin-left: 6px;
}
.login-form button:hover {
  background-color: rgba(11,72,107, 0.5);
  color: #333;
}

.home-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 24px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.home-calendar {
  width: 95%;
  height: 450px;
}
.home-messages {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 400px;
  min-height: 50px;
}
.home-messages div {
  position: absolute;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #E8860C;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: transform 1s ease, opacity 0.5s ease;
}
.activeSlide {
  transform: translateY(0);
  opacity: 1;
}
.hiddenSlide {
  transform: translateY(100%);
  opacity: 0;
}

.events-main--wrapper {
  height: 100%;
  min-height: 100%;
}
.events-main--sidebar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.2);
}
.events-sidebar--topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  margin-bottom: 16px;
}
.events-sidebar--topmenu div {
  padding: 3px;
  width: 33%;
  text-align: center;
  cursor: pointer;
}

.events-main--full {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 0 16px;
  padding-left: 270px;
  flex-grow: 2;
  height: 100%;
  min-height: 100%;
}
.event-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 3px;
}
.event-card-title {
  font-size: 0.85em;
}

.event-card-actions {
  display: flex;
  justify-content: flex-start;
}
.event-card-actions i {
  margin-right: 6px;
  font-size: 10pt;
  font-weight: 100;
}

/*event details view*/
.event-details--headline {
  background-color: #fff;
  margin-bottom: 16px;
  font-size: 1.25em;
  min-width: 100%;
  padding: 0 3px 0 3px;
}
.event-details--headline h1 {
  font-weight: normal;
}
.event-details--flex {
  display: flex;
  justify-content: space-between;
}
.event-details--more {
  align-self: center;
  font-size: 0.65em;
  font-style: italic;
}
.event-details--body {
  display: flex;
  justify-content: space-between;
}
.event-details--posts {
  max-width: 75%;
  min-width: 75%;
  margin-right: 12px;
}
.event-details--posts h2 {
  font-weight: normal;
  margin: 0 0 3px 0;
}
.event-details--post {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px;
  margin-bottom: 16px;
  box-shadow: 2px 2px 6px #333;
  min-width: 100%;
  background-color: #fff;
  
}
.event-details--post img {
  float: left;
}
.post-wrapper {
  margin-right: 6px;
  text-align: center;
  border-right: 1px solid #333;
  padding: 3px 6px 3px 1px;
}
.post-icon {
  margin: 6px auto 0 auto;
}
.post-author {
  font-size: 0.65em;
}

/*add new post form*/
.form-newpost {
  width: 100%;
}
.form-newpost--main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-newpost--inputs {
  width: 100%;
}
.newpost-input--text {
  display: block;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  padding: 3px 3px 0 3px;
  width: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes No-event-selected-arrow {
  from { transform: translateX(0); opacity: 0; }
  to { transform: translateX(-50px); opacity: 1; }
}
.no-event-arrow {
  animation: No-event-selected-arrow infinite 1.5s linear;
}

/*main event list grid*/
.events-grid--wrapper {
  width: 100%;
}
.events-grid--row {
  display: flex;
  flex-direction: row;
}

.event-form-wrapper {
  width: 100%;
}
.form-twocolumn {
  display: flex;
  justify-content: flex-start;
}
.new-event-image-placeholder {
}
.datepicker {
  margin-right: 50px;
}
.text-input--wrapper h3 {
  margin-bottom: 0;
}
.title-input, .text-input--wrapper textarea {
  width: 100%;
  display: block;
  padding: 6px;
  border: 0;
  border: 1px solid black;
  border-top: 0;
  margin-top: 0;
  outline: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
}
.text-input--wrapper textarea {
  min-height: 200px;
}
.new-event-submit {
  display: block;
  width: 100%;
  margin-top: 1em;
}

/*::-webkit-input-placeholder {
    color:    #f5f5f5;
}
::-moz-placeholder {
   color:    #f5f5f5;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #f5f5f5;
}*/

/*custom confirm modal*/
.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
.modal-main-wrapper {
  width: 50%;
  height: 50%;
  background-color: #ccc;
  box-shadow: 0 0 3px 3px #333;
  padding: 12px;
}
.modal-bg--show {
  opacity: 1;
}

h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
}
h3 {
  font-weight: normal;
  border-bottom: 1px solid #333;
}

/*react transitions*/
.post-enter {
  -webkit-transition: transform 0.5s, opacity 1.0s;
  transition: transform 0.5s, opacity 1.0s;
  opacity: 0;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}
.post-enter.post-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*.post-leave {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.post-leave.post-leave-active {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}*/
.Notifyr-enter {
  opacity: 0;
  transition: opacity 0.5s;
}
.Notifyr-enter.Notifyr-enter-active {
  opacity: 1;
}
.Notifyr-leave {
  opacity: 1;
  transition: opacity 0.5s;
}
.Notifyr-leave.Notifyr-leave-active {
  opacity: 0;
}

/*utility classes*/
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
}
.icon-button {
  color: #ccc;
  cursor: pointer;
}
.icon-button:hover {
  color: #333;
}
.date {
  font-size: 0.75em;
}
.addnew-link {
  color: #f5f5f5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  display: block;
  text-decoration: none;
  background-color: #E8860C;
  padding: 6px;
  margin-top: 16px;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.addnew-link:hover {
  border: 1px solid #22313F;
  color: #fff;
}
.link-nostyle {
  color: inherit;
  display: block;
  text-decoration: none;
  border: 1px solid transparent;
  transition: border 0.2s;
}
.link-nostyle:hover {
  border: 1px solid #22313F;
}
.link-marginbottom {
  margin-bottom: 6px;
}
.link-active {
  color: #fff;
  background-color: #22313F;
  transition: all 0.3s ease;
}
.no-event-selected {
  color: #999;
  font-size: 2em;
}

/*Notifyr*/
.notifyr-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  min-width: 200px;
  z-index: 99;
}
.notifyr-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: #fff;
  margin-bottom: 6px;
}
.notifyr-default {
  background-color: #333;
}
.notifyr-success {
  background-color: #0084FF;
}
.notifyr-warning {
  background-color: #FF2619;
}